@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

html {
  background-color: #edf2f7;
}

input,
select {
  width: 25vw;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
}

.form-group {
  margin: 10px;
  display: grid;
}
